---
- name: Gather EC2 facts
  ec2_remote_facts:
    region: "{{ region }}"
    filters:
      "tag:namespace": "{{namespace}}"
  register: ec2_facts

- name: Unsubscribe VMs
  include: unregister-vm.yml public_ip={{ item.public_ip_address }}
  with_items: "{{ ec2_facts.instances }}"
  when: ((deployment_type == 'openshift-enterprise') and (item.state == 'running'))
  ignore_errors: yes

- name: Notify of VMs that could not be unsubscribed
  debug:
    msg: "The VM {{ item.private_dns_name }} could not be unsubscribed because it was stopped."
  with_items: "{{ ec2_facts.instances }}"
  when: ((deployment_type == 'openshift-enterprise') and (item.state == 'stopped'))
  ignore_errors: yes

- name: Disassociate elastic IP
  ec2_eip:
    device_id: "{{item.id}}"
    ip: "{{item.public_ip_address}}"
    region: "{{region}}"
    state: absent
  with_items: "{{ ec2_facts.instances }}"
  when: ((item is defined) and (item.tags.Name == 'master-' ~ namespace) and (item.state != 'terminated'))

- name: Terminate EC2 VMs
  ec2:
    state: absent
    region: "{{ region }}"
    instance_ids: "{{ item.id }}"
    wait: yes
  with_items: "{{ ec2_facts.instances }}"
  when: item.state != 'terminated'

# The below works to delete dynamic volumes, however it will delete
# all available PV regardless of whether it belongs to this stack. This
# should be OK but slight risk that someone has a dynamic PV that isn't
# attached for some reason that they still want to preserve. Should change the
# below to grab the PVs from the master or try setting delete on terminate before
# terminating instance
# - name: Retrieve dynamic volumes
#   ec2_vol_facts:
#     region: "{{region}}"
#     filters:
#       "tag:Name": "kubernetes-dynamic-pvc*"
#       "status": "available"     
#   register: aws_volumes

# - debug:
#     msg: "{{aws_volumes}}"

# - name: Delete dynamic volumes
#   ec2_vol:
#     region: "{{region}}"
#     state: "absent"
#     id: "{{item.id}}"
#   with_items: "{{aws_volumes.volumes}}"